@import "./base.css";
@import "./style.css";
@import "./output.css";

#app {
  max-width: 1280px;
  font-weight: normal;
}

a,
.green {
  /* text-decoration: none;
  color: #00bd7e;
  transition: 0.4s; */
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }
}
